<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            
        </div>
        <div class="col-sm-4">
            <h2 class="text-center">Payment Succsessful</h2>
            <h3 class="text-center">Thank you</h3>
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>
    
</div>